body {
    background-image: url("contactBkG.png");
    background-color: #cccccc;
    background-size: cover;

}


.container{


}


h3 {
	font-family: Verdana;
	font-size:30px;
	color: #ffffff;
	line-height: 40px;
	text-align: left;
	border-color: #000000;
	margin-left: 110px;

}



.navbar {

	margin-left: 400px;
	margin-bottom: 30px;
}


ul li {/* Rectangle 18 Copy 2: */
	background: #000000;
	border: 0px solid #FFFFFF;
	border-radius: 11px;
	font-family: Verdana;
	font-size: 22px;
	color: #ffffff;
	line-height: 120%;
	display: inline;
	padding: 10px;
	margin-right: 25px;




}

ul li a{/* Rectangle 18 Copy 2: */
	color: #ffffff;
	text-decoration:none;
	vertical-align: top;
	margin: 10px;

}



h3{
	padding:0 10% 0 10%;
}



h4{
	text-align: center;
	margin-top: 80px;
	margin-left: -44px;


}


.copyright {

	text-align: left;
	margin-top: 150px;
	margin-left: 5px;


}


.copyright a {
	color: #ffffff;
}


.icons {
	float: right;
	margin-top: 20px;
	margin-right: 35px;


}


.icons a {
	margin-left: 25px;

}





